{% load static %}

<header class="header" id="header">
  <div class="header__toggle">
    <i class="bx bx-menu" id="header-toggle"></i>
  </div>

  <div class="header__profile">
    {% if user.is_authenticated %}
    <a href="#" class="header_profile_name">{{user.username}}</a>
    {% else %}
    <a href="{% url 'audit:login' %}" class="header_profile_name">Connexion</a>
    {% endif %}
  </div>
</header>

<div class="l-navbar" id="nav-bar">
  <nav class="nav">
    <div>
      
      <a href="{% url 'audit:home'  %}" class="nav__logo {% if server %} active {% endif %} ">
        <img
      src="{% static 'image/fvicon.png' %}"
      alt="icon"
      height="20px"
      width="20px"
    />
        <span class="nav__logo-name">Dashboard</span>
      </a>
      <div class="nav__list">
        <a href="{% url 'audit:list-audit' %}" class="nav__link">
          <i class="bx bx-grid-alt nav__icon"></i>
          <span class="nav__name">Vos audit</span>
        </a>
        <a href="{% url 'audit:add-audit' %}" class="nav__link">
          <i class="bx bx-plus nav__icon"></i>
          <span class="nav__name">Ajouter un audit</span>
        </a>
      </div>
    </div>
    {% if user.is_authenticated %}
    
    <a href="{% url 'audit:logout' %}" class="nav__link">
      <i class="bx bx-log-out nav__icon"></i>
      <span class="nav__name">Déconnexion</span>
    </a>

    {% else %}
    
    <a href="{% url 'audit:login' %}" class="nav__link">
      <i class="bx bx-log-in nav__icon"></i>
      <span class="nav__name">Connexion</span>
    </a>

    {% endif %}
  </nav>
</div>
