{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon"type="image/png"href="{% static '/image/fvicon.png' %}"/>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <!-- ==== CSS ==== -->
    {% block static_css %}
    <link rel="stylesheet" href="{% static '/vendor/bootstrap/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static '/css/style.css' %}"/>
    {% endblock static_css %}

    <title>Générateur d'audit</title>
  </head>
  <body>

    {% block sidebar %} {% include 'components/sidebar.html' %} {% endblock sidebar %}
    
    <div class="container space-sidebar">
      {% block content %}{% endblock content %}
    </div>
    
    {% block footer %}{% endblock footer %}

    <!-- ==== JAVASCRIPT ==== -->
    {% block static_js %}
    <script src="{% static '/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/js/script.js' %}"></script>
    {% endblock static_js %}

  </body>
</html>
