{% extends "base_site.html" %} 

{% block title %} Audit {{audit.name}} {% endblock title %}

{% block content %}

<h1>{{audit.name}}</h1>

<h2>Écrie par {{audit.author}}</h2>

<p> Modifier le {{audit.update_by}} </p>

{% if exploits %}

<table>
    <thead>
        <th>
            Description
        </th>
        <th>
            Images
        </th>
        <th>
            Niveau criticiter
        </th>
    </thead>
    {% for exploit in exploits %}
    <tbody>
        <td>
            {{exploit.description}}
        </td>
        <td>
            <img src="{{exploit.image.url}}" alt="{{exploit.image}}">
        </td>
        <td>
            {{exploit.level_critical}}
        </td>
    </tbody>
    {% endfor %}
</table>

{% endif %}

<p> Crée le {{audit.create_by}} </p>

{% endblock content %}
