{% extends "base_site.html" %} 

{% block navbar %} {% endblock %}
{% block content %}


<div class="center">
    <h1 class="title_form">Connexion</h1>

    <form action="" method="post">
        {% csrf_token %}

        <div class="field_text">
            <label>Pseudo</label>
            <input type="text" name="username">
        </div>

        <div class="field_text">
            <label>Mot de passe</label>
            <input type="password" name="password">
        </div>

        <div class="field_pass">
            <a href="{% url 'audit:register' %}">Incription</a>
        </div>
        <input class="btn btn-primary" type="submit" name="Connexion">
        
    </form>
    {{form.errors}}
</div>



{% endblock content %}